
{% extends "base.html.twig" %}

{% block title %} Add a event {% endblock %}

{% block body %}  

        <div>
	    	<div class="col-md-4">
	        	<div class="text-center">
	            	<h1>Add a event</h1>
                </div>
            </div>
        </div>
                    
        <div>
            <div class="col-md-4 col-md-offset-4">
                    {{ form(form) }}
                </br></br>
	       	</div>
    	</div>
{% endblock %}